@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.dark-theme {
  background-color: #333;
  color: #fff;
}

.dark-theme .bg-white {
  background-color: #1e1e1e; /* Darker background for white elements */
}

.dark-theme .bg-gray-100 {
  background-color: #1e1e1e; /* Darker gray for elements */
}

.dark-theme .bg-blue-500 {
  background-color: #1e88e5; /* Adjust blue for dark theme */
}

.dark-theme .bg-red-500 {
  background-color: #e53935; /* Adjust red for dark theme */
}

.dark-theme .text-black {
  color: white; /* Change text color to white for dark theme */
}

.dark-theme .text-gray-500 {
  color: black; /* Adjust gray text for dark theme */
}

.light-theme {
  background-color: #f9f9f9; /* Very light gray background */
  color: #333; /* Darker text color for contrast */
}

.light-theme .bg-white {
  background-color: #ffffff; /* Pure white background */
}

.light-theme .bg-gray-100 {
  background-color: #f7f7f7; /* Very light gray for elements */
}

.light-theme .bg-blue-500 {
  background-color: #007bff; /* Standard blue for light theme */
}

.light-theme .bg-red-500 {
  background-color: #dc3545; /* Standard red for light theme */
}

.light-theme .text-black {
  color: #333; /* Darker text color for light theme */
}

.light-theme .text-gray-500 {
  color: #6c757d; /* Standard gray text for light theme */
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}